spring:
  datasource:
    url: jdbc:h2:mem:testdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    open-in-view: false

app:
  jwt:
    secret: "THIS_IS_A_DEMO_SECRET_CHANGE_IT_TO_A_LONG_RANDOM_SECRET_123456"
    expirationMinutes: 120
